@using CommunitiyMedicineApp.Models
@model CommunitiyMedicineApp.Models.DiseaseDate
@{
    Layout = null;
    List<DiseaseWiseReport> diseaseWiseReports = ViewBag.DiseaseWiseReport;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/css/sidebar.css" rel="stylesheet" />
    <title>Disease-Wise Report</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="@Url.Action("Index", "Home")">Home</a>
        <hr />
        <a href="@Url.Action("MedicineEntry", "HeadOffice")">Medicine Setup</a>
        <hr />
        <a href="@Url.Action("DiseaseEntry", "HeadOffice")">Disease Setup</a>
        <hr />
        <a href="@Url.Action("CenterEntry", "HeadOffice")">Create Center</a>
        <hr />
        <a href="@Url.Action("SendMedicine", "HeadOffice")">Send Medicine</a>
        <hr />

        <a href="@Url.Action("DiseaseWiseReport", "HeadOffice")">Diseasewise Report</a>
        <hr />

        <a href="@Url.Action("DiseasesDemographicReport", "HeadOffice")">Demographic Report</a>
        <hr />

        <a href="@Url.Action("DiseaseBarChartReport", "HeadOffice")">Disease Bar Chart</a>
        <hr />
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
<div align="center" id="main">

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <h1>Community Medicine Automation</h1>
    <h2>Diseasewise Report</h2>
    
    @if (ViewBag.Message != null)
    {
        <h2>@ViewBag.Message</h2>
    }
    @using (Html.BeginForm(FormMethod.Post))
    {
        <table>
            <tr>
                <td><label>Select Disease</label></td>
                <td>@Html.DropDownListFor(c => c.DiseaseId, ViewBag.DiseaseList as IEnumerable<SelectListItem>, "Select...")</td>
                <td>
                    <input type="submit" id="show" name="show"/>
                </td>
            </tr>
            <tr>
                <td><label>Date Between</label></td>
                <td>@Html.TextBoxFor(c => c.BeginDateTime, new {id = "pickyDate"})</td>
                <td><label>to</label></td>
                <td>@Html.TextBoxFor(c => c.EndDateTime, new {id = "pickyDate1"})</td>
            </tr>
        </table>
    }
    <br/>
    <table border="1px">
        <tr>
            <th>District Name</th>
            <th>Total Patients</th>
            <th>% over population</th>
        </tr>
        @if (ViewBag.DiseaseWiseReport != null)
        {
            foreach (DiseaseWiseReport diseaseWiseReport in diseaseWiseReports)
            {
                <tr>
                    <td>@diseaseWiseReport.DistrictName</td>
                    <td>@diseaseWiseReport.TotalPatients</td>
                    <td>@diseaseWiseReport.PercentageOfPopulation</td>
                </tr>
            }
        }
    </table>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
    $(document).ready(function() {
        $('#pickyDate').datepicker({
            format: "yyyy-mm-dd"
        });
        $('#pickyDate1').datepicker({
            format: "yyyy-mm-dd"
        });
    });
    //$(function () {
    //    $('.datepicker').datepicker({
    //        format: 'mm-dd-yyyy'
    //    });
    //});
</script>
</body>
</html>