@using CommunitiyMedicineApp.Models
@using CommunitiyMedicineApp.Models.Entity
@model CommunitiyMedicineApp.Models.Entity.Medicine

@{
    Layout = null;
    string saveConfirmMsg = ViewBag.SaveConfirmMsg;
    List<Medicine> medicineList = ViewBag.MedicineList;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/css/sidebar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width"/>
    <title>MedicineSetup</title>
    <style>
        .field-validation-error {
            color: red;
            /*display: block;*/
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="@Url.Action("Index", "Home")">Home</a>
        <hr />
        <a href="@Url.Action("MedicineEntry", "HeadOffice")">Medicine Setup</a>
        <hr />
        <a href="@Url.Action("DiseaseEntry", "HeadOffice")">Disease Setup</a>
        <hr />
        <a href="@Url.Action("CenterEntry", "HeadOffice")">Create Center</a>
        <hr />
        <a href="@Url.Action("SendMedicine", "HeadOffice")">Send Medicine</a>
        <hr />

        <a href="@Url.Action("DiseaseWiseReport", "HeadOffice")">Diseasewise Report</a>
        <hr />

        <a href="@Url.Action("DiseasesDemographicReport", "HeadOffice")">Demographic Report</a>
        <hr />

        <a href="@Url.Action("DiseaseBarChartReport", "HeadOffice")">Disease Bar Chart</a>
        <hr />
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <div align="center" id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <h1>Community Medicine Automation</h1>
        <h2>Medicine Entry</h2>
        

        <fieldset style="display: inline-block">
            <legend>
                Basic Medicine Setup
            </legend>
            <h3>@saveConfirmMsg</h3>
            <form id="SaveMedicine" method="POST">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(c => c.GenericName)
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.GenericName)
                            @Html.ValidationMessageFor(c => c.GenericName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(c => c.MgMl)
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.MgMl)
                            @Html.ValidationMessageFor(c => c.MgMl)
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="save" value="Save" />
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <br />
        <br />
        @if (medicineList != null)
        {
            <table border="1px">
                <tr>
                    <th>SI</th>
                    <th>Generic Name</th>
                    <th>Mg/Ml</th>
                </tr>
                @{
            int si = 1;
                }
                @foreach (Medicine medicine in medicineList)
                {
                    <tr>
                        <td>
                            @si
                        </td>
                        <td>
                            @medicine.GenericName
                        </td>
                        <td>
                            @medicine.MgMl
                        </td>
                    </tr>
                    si++;
                }

            </table>
        }

    </div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>


